/* background */
#visualization {
    display: inline-block;
    background: #000;
    border: 1px solid #fff;
}




/* axis labels */
.axis text {
    font-weight: 100;
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 2;
    paint-order: stroke;
}
.axis text tspan {
    white-space: pre;
}

/* axes */
.cluster line {
    shape-rendering: crispEdges;
}

line.axis,
.tick line {
    stroke: #000;
    stroke-width: 1;
}

.cluster line.axis,
.cluster .tick line {
    stroke: #69F;
}

.noise line.axis,
.noise .tick line {
    stroke: #F69;
}

/* axis ticks */
.tick line {
    stroke-width: 6;
}

.tick text {
    transform: matrix(1, 0, 0, 1, -7, 0);
}




/* data rows */
.datarow {
    stroke-width: 1;
    fill: none;
}
line.datarow:not([stroke]),
path.datarow:not([stroke]) {
    stroke: #fff;
}
line.datarow,
path.datarow {
    opacity: 0.2;
}


/* connectors */
polygon.connector {
    fill: #EEE;
}
polygon.connector {
    stroke: #000;
    fill: #000;
    fill-opacity: 0.4;
    opacity: 0.1;
}